
bin/Debug/GameOfPulpit.exe
bin/Debug/GameOfPulpit.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/GameOfPulpit.csproj.CoreCompileInputs.cache
obj/Debug/GameOfPulpit.csproj.GenerateResource.cache
obj/Debug/GameOfPulpit.exe
obj/Debug/GameOfPulpit.pdb
obj/Debug/GameOfPulpit.Properties.Resources.resources
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/GameOfPulpit.exe
obj/Debug/GameOfPulpit.Properties.Resources.resources
obj/Debug/GameOfPulpit.exe
